<launch>
  <node name="beamform" pkg="beamform" type="gsc" output="screen">
    <rosparam command="load" file="$(find beamform)/rosjack_config.yaml" />
    <rosparam command="load" file="$(find beamform)/beamform_config.yaml" />
    <rosparam>
      use_vad: false
      vad_threshold: 0.1
      mu0: 0.0005
      mu_max: 0.1
      filter_size: 128
      write_mu: true
    </rosparam>
  </node>
</launch>
