<launch>
  <node name="beamform" pkg="beamform" type="gss" output="screen">
    <rosparam command="load" file="$(find beamform)/rosjack_config.yaml" />
    <rosparam command="load" file="$(find beamform)/beamform_config.yaml" />
    <rosparam>
      freq_mag_threshold: 0.001
      freq_max: 16000
      freq_min: 100
      out_amp: 0.1
      interf_angle_threshold: 1.0
      mu: 0.001
      lambda: 0.0
    </rosparam>
  </node>
</launch>
