<launch>
  <node name="beamform" pkg="beamform" type="mcra" output="screen">
    <rosparam command="load" file="$(find beamform)/rosjack_config.yaml" />
    <rosparam command="load" file="$(find beamform)/beamform_config.yaml" />
    <rosparam>
      alphaS: 0.95
      alphaD: 0.95
      alphaD2: 0.98
      delta: 0.001
      L: 300
      out_amp: 3.5
      out_only_noise: false
    </rosparam>
  </node>
</launch>
