<launch>
  <node name="beamform" pkg="beamform" type="phase" output="screen">
    <rosparam command="load" file="$(find beamform)/rosjack_config.yaml" />
    <rosparam command="load" file="$(find beamform)/beamform_config.yaml" />
    <rosparam>
      min_phase: 15.0
      min_mag: 0.0001
      past_masks_num: 1
    </rosparam>
  </node>
</launch>
