<launch>
  <node name="beamform" pkg="beamform" type="phasempf" output="screen">
    <rosparam command="load" file="$(find beamform)/rosjack_config.yaml" />
    <rosparam command="load" file="$(find beamform)/beamform_config.yaml" />
    <rosparam>
      min_phase: 30.0
      min_mag: 0.05
      smooth_size: 3
      MCRA_alphaS: 0.95
      MCRA_alphaD: 0.95
      MCRA_alphaD2: 0.98
      MCRA_delta: 0.001
      MCRA_L: 50
      MPF_alphaS: 0.7
      MPF_eta: 0.3
      MPF_rev_gamma: 0.9
      MPF_rev_delta: 1.0
      out_amp: 2.5
      noise_floor: 0.001
      out_only_noise: false
      out_only_mcra: false
    </rosparam>
  </node>
</launch>
